<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="pro.piechowski.highschoolstory.movement.input.ControllerMovementInputSystem" level="info"/>
    <logger name="pro.piechowski.highschoolstory.movement.input.MultiplexMovementInputSystem" level="info"/>
    <logger name="pro.piechowski.highschoolstory.movement.velocity.VelocitySystem" level="info"/>
    <logger name="pro.piechowski.highschoolstory.movement.CurrentSpritePositionSystem" level="info"/>
    <logger name="pro.piechowski.highschoolstory.movement.facedirection.FaceDirectionSystem" level="debug"/>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
